target
.direnv
.idea

waypaper_engine_ui/logs
waypaper-engine-ui/*.log
waypaper_engine_ui/pnpm-debug.log*

waypaper_engine_ui/node_modules
waypaper_engine_ui/dist
waypaper_engine_ui/dist-ssr
waypaper-engine-ui/*.local
waypaper_engine_ui/src-tauri/gen/schemas

tests
test
waypaper_engine_daemon/test
result

